<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dining Halls</title>
</head>
<body>
  <h1>API Documentation</h1>
  <ul>
    <li><a href="/foods">/foods</a></li>
    <li><a href="/users">/users</a></li>
  </ul>
</body>
</html>
